.root {
	margin-top: -3.5rem;
}

/* .root > .section:last-of-type > *:last-of-type {
	margin-bottom: 0;
} */

.section {
	padding-top: 7.5rem;
}

@media screen and (min-width: 800px) {
	.section {
		padding-top: 10rem;
	}
}

.section h2 {
	margin-top: 0;
}

.section.borderBottom {
	border-bottom: 1px solid var(--subtler-border-color);
}

.firstSection h1 {
	margin-top: 0;
}

.section h3 {
	margin-top: 3rem;
	margin-bottom: 0;
}

.section h3:first-of-type {
	margin-top: 0;
}

.section h5 {
	margin-top: 0;
	font-weight: 500;
}

.section h6 {
	margin-top: 0;
	margin-bottom: 1rem;
	color: var(--foreground-secondary);
}
