.main img {
	width: 100%;
}

.footer {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 1rem 0;
	border-top: 1px solid var(--subtle-border-color);
	border-bottom: 1px solid var(--subtle-border-color);
}

.footerWorkLink {
	display: flex;
	align-items: center;
	background: blue;
	padding: 0.6rem 1rem;
	border-radius: 24px;
}

.footerWorkLinkPrev i {
	margin-right: 1rem;
}

.footerWorkLinkNext i {
	margin-left: 1rem;
}
