.section {
	margin-bottom: 1rem;
}

.label {
	display: block;
	margin-bottom: 0.26rem;
}

.fullWidth {
	width: 100%;
}

.fieldset {
	font-size: 16px;
	transition: opacity 0.1s ease-out;
}

.disabled {
	opacity: 0.1;
}

.input,
.textarea,
.select {
	padding: 12px;
	border-radius: 0;
	border: none;
	font-size: 16px;
	color: var(--foreground);
	background: var(--input-background);
	border: 1px solid var(--subtler-border-color);
}

.textarea {
	resize: vertical;
}

.select {
	padding: 12px 40px 12px 16px;
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-size: 12px;
}

.budgetWrapper {
	display: flex;
	align-items: center;
}

.budgetInput {
	margin-right: 0.5rem;
}

.sendBtn {
	background-color: var(--confirm-btn-background);
	padding: 1rem;
	border-radius: var(--border-radius);
	color: white;
	border: none;
	margin: 1rem 0 1.6rem 0;
	cursor: pointer;
}

.loaderWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;

	opacity: 0;
	transition: opacity 0.1s ease-out;
}

.visible {
	opacity: 1;
}

.iconWrapper {
	text-align: center;
	padding-bottom: 5rem;
}

.icon {
	width: 124px;
	display: block;
	margin: 0 auto 1rem auto;
}

.error {
	fill: var(--error-color);
}

.success {
	fill: var(--success-color);
}

.loader {
	width: 48px;
	height: 48px;
	display: block;
	margin: 0 auto 2rem auto;
	position: relative;
	color: #fff;
	box-sizing: border-box;
	animation: rotation 2s linear infinite;
}

.loader::after,
.loader::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0;
	background-color: #fff;
	border-radius: 50%;
	animation: scale50 2s infinite ease-in-out;
}

.loader::before {
	top: auto;
	bottom: 0;
	background-color: #fff;
	animation-delay: 1s;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes scale50 {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}
