:root {
	--background: #ffffff;
	--foreground: #171717;

	--subtle-border-color: rgba(0, 0, 0, 0.12);
	--error-color: red;
	--success-color: green;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--background-secondary: #222;
		--foreground: #ededed;
		--foreground-secondary: #aaa;
		--subtle-border-color: rgba(255, 255, 255, 0.12);
	}
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
		Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1.25rem;
	line-height: 1.6rem;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

code {
	background-color: var(--background-secondary) !important;
	color: var(--foreground) !important;
	border-radius: 4px;
}

fieldset {
	border: none;
}

#app-header {
	padding-bottom: 8rem;
}

#app-main {
	padding-top: 8rem;
}

.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.tight-container {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
}

.code-snippet {
	/* margin: 0 !important; */
	padding: 0 !important;
	background-color: transparent !important;
	border: none !important;
}

.fw500 {
	font-weight: 500;
}

img[alt^="Download"] {
	width: 300px !important;
}
[data-oembed],
p:has(iframe[src*="codepen"]),
p:has(iframe[src*="slideshare"]) {
	position: relative;
	/* width: 100%; */
	padding-top: 56%;
	height: 0;
	overflow: hidden;
	margin-top: 2rem;
}

[data-oembed] iframe,
iframe[src*="codepen"],
iframe[src*="slideshare"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-compare div {
	margin: unset !important;
}

.image-compare img {
	max-width: unset !important;
	display: block !important;
}

.splide ul {
	margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

.navList {
	list-style: none;
}

.navList li {
	position: relative;
	display: inline-block;
	margin-right: 2rem;
}

.navList li:after {
	content: "/";
	position: absolute;
	right: -1.2rem;
}

.navList li:last-of-type {
	margin-right: 0;
}

.navList li:last-of-type::after {
	content: none;
}

@media screen and (min-width: 960px) {
	.block-img,
	[data-oembed],
	p:has(iframe[src*="codepen"]) {
		margin-left: -100px !important;
		margin-right: -100px !important;
	}

	.block-img a[href*="apple"] {
		margin-left: 100px !important;
		margin-right: 100px !important;
	}
}

@media screen and (min-width: 1180px) {
	.block-img,
	[data-oembed],
	p:has(iframe[src*="codepen"]),
	p:has(iframe[src*="slideshare"]) {
		margin-left: -150px !important;
		margin-right: -150px !important;
	}

	[data-oembed],
	iframe[src*="codepen"],
	iframe[src*="slideshare"] {
		padding-top: 66%;
	}

	.block-img a[href*="apple"] {
		margin-left: 150px !important;
		margin-right: 150px !important;
	}
}

@media screen and (min-width: 1450px) {
	.block-img,
	[data-oembed],
	p:has(iframe[src*="codepen"]),
	p:has(iframe[src*="slideshare"]) {
		margin-left: -300px !important;
		margin-right: -300px !important;
	}

	[data-oembed],
	iframe[src*="codepen"],
	iframe[src*="slideshare"] {
		padding-top: 80%;
	}

	.block-img a[href*="apple"] {
		margin-left: 300px !important;
		margin-right: 300px !important;
	}
}
