.root {
	/* padding-bottom: 2rem; */
	/* border-bottom: 1px solid var(--subtler-border-color); */
}

.headerWrapper {
	font-size: 1rem;
	display: flex;
	/* padding: 1rem;
	border: 1px solid var(--subtler-border-color); */
}

.logoWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.description {
	/* max-width: 320px; */
}
