.root {
	display: block;
}

.title {
	font-size: 1.6rem;
	line-height: 2.1rem;
	/* text-decoration: underline; */
}

.date {
	margin-right: 1rem;
}

.footer {
	margin-top: 0.4rem;
	font-size: 1rem;

	color: var(--foreground-secondary);
}

.subInfoRoot {
	display: flex;
	align-items: center;
}

.tagsRoot {
	margin: 0.4rem 0 0;
}

.externalIcon {
	fill: var(--foreground-secondary);
	margin-right: 0.25rem;
}

.externalResource {
	display: flex;
	align-items: center;
}
