.root {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 1rem 0;
	border-top: 1px solid var(--subtler-border-color);
	/* border-bottom: 1px solid var(--subtler-border-color); */
}

.workLink {
	display: flex;
	align-items: center;
	background: var(--subtler-border-color);
	padding: 0.6rem 1rem;
	border-radius: 24px;
}

.prevLink i {
	margin-right: 1rem;
}

.nextLink i {
	margin-left: 1rem;
}
