.introText {
	text-align: center;
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 1.6;
	color: var(--foreground);
}

.lineBreak {
	display: none;
}

.extraSpace {
	display: inline-block;
}

@media screen and (min-width: 670px) {
	.extraSpace {
		display: none;
	}
	.lineBreak {
		display: block;
	}
}
