.root {
	/* transition: opacity 0.1s ease-out; */
}

.root.hidden {
	/* opacity: 0;
	pointer-events: none; */
}

.paddingBottom {
	padding-bottom: 8rem;
}

.container {
	padding: 0 1rem;
}

/* @media screen and (min-width: 800px) {
	.container {
		padding: 0;
	}
} */
