.root {
	/* background: var(--background-secondary); */
	/* border-radius: var(--border-radius); */
	/* border: 1px solid var(--subtlerer-border-color); */
	overflow: hidden;
}

.root:hover .image {
	transform: scale3d(1.025, 1.025, 1);
}

.body {
	/* padding: 0.75rem 0.5rem; */
	padding: 0.75rem 0;
}

.imageWrapper {
	width: 100%;
	aspect-ratio: calc(800 / 500);
	position: relative;
	overflow: hidden;
}

.image {
	width: 100%;
	transition: transform 0.1s ease-out;
}

.title {
	/* margin-bottom: 0.6rem; */
}

.subtitle {
	color: var(--foreground-secondary);
	margin: 0.3rem 0 0.6rem;
}

.subtitle.noBottomMargin {
	margin-bottom: 0;
}
