.root {
	margin: -0.16rem;
}

.listItem {
	display: inline-block;
	border: 1px solid var(--subtler-border-color);
	padding: 5px 8px;
	border-radius: var(--border-radius);
	background-color: var(--subtler-border-color);
	margin: 0.16rem;
}

.listItem.marked {
	background-color: yellow;
	color: #111;
}

.listItem:last-of-type {
	margin-right: unset;
}

.tag {
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: monospace;
}
