.root {
	/* background: var(--background-secondary); */
	border-radius: var(--border-radius);
	border: 1px solid var(--subtler-border-color);
	overflow: hidden;
}

.body {
	padding: 0.75rem 0.5rem;
}

.imageWrapper {
	width: 100%;
	aspect-ratio: calc(800 / 500);
	position: relative;
}

.image {
	width: 100%;
}

.title {
	/* margin-bottom: 0.6rem; */
}

.subtitle {
	color: var(--foreground-secondary);
	margin: 0.5rem 0 0.5rem;
}

.subtitle.noBottomMargin {
	margin-bottom: 0;
}
