.listItem {
	/* margin-bottom: 1.25rem; */
	padding: 1.2rem 0;
	list-style: none;
}

.listItem.hasBorderBottom {
	border-bottom: 1px solid var(--subtlerer-border-color);
}

.listItem:first-of-type {
	/* padding-top: 0; */
	/* border-top: 1px solid var(--subtlerer-border-color); */
}
