body[class*="medium-zoom--opened"] .root {
	opacity: 0;
}

body[class*="medium-zoom--opened"] .navContainer {
	pointer-events: none;
}

.root {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	pointer-events: none;
	transition: opacity 0.1s ease-out;
}

.navContainer {
	pointer-events: auto;
	display: flex;
	opacity: 0;
	transition: opacity 0.1s ease-in;
}

.navContainer.inited {
	opacity: 1;
}

.navWrapper {
	padding: 2rem;
	/* background-color: #222; */
}

.draggable {
	width: 102px;
	height: 102px;
	background-color: green;
	cursor: grab;
}

.root.dragging .draggable {
	pointer-events: none;
}

.subNavWrapper {
	background-color: #222;
	padding: 0.6rem 1rem;
}
