body[class*="medium-zoom--opened"] .root {
	opacity: 0;
}

body[class*="medium-zoom--opened"] .navContainer {
	pointer-events: none;
}

.root {
	--dot-radius: 7px;
	--dot-margin: 10px;

	position: fixed;
	top: 0;
	left: 0;
	/* width: 100%; */
	height: 100%;
	z-index: 999;
	pointer-events: none;
	transition: opacity 0.1s ease-out;
}

.subNavWrapper {
	position: relative;
	height: 48px;
	line-height: 1;
	font-size: 16px;
	min-width: 666px;
	color: var(--nav-secondary-color);
	background-color: #222c;
	backdrop-filter: blur(30px);

	transform-origin: 50% 100%;

	perspective: 500px;
	perspective-origin: 50%;
}

.navTransition {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.25s ease-out;
	/* transition: transform 20s ease-out; */
	transform-origin: 50% 50%;
	backface-visibility: hidden;
	border: 1px solid var(--subtler-border-color);
	background-color: #222c;
}

.currNav {
	transform-origin: 50% 50% -24px; /* Center, pushed back */
	/* background-color: red; */
	opacity: 0.8;
	transform: rotateX(0deg);
}

.currNav.willTransition {
	transform: rotateX(-90deg);
	transition: none;
}

.prevNav {
	transform: rotateX(0deg);
	transform-origin: 50% 50% -24px; /* Same center point */
	/* background-color: green; */
	opacity: 0.8;
}

.prevNav.isTransitioning {
	transform: rotateX(90deg);
}

.mainNav {
	position: relative;
	color: var(--nav-main-color);
	background-color: #222c;
	backdrop-filter: blur(30px);
	border-top: 1px solid var(--subtler-border-color);
	border-left: 1px solid var(--subtler-border-color);
	border-right: 1px solid var(--subtler-border-color);
}

.mainNav:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--subtler-border-color);
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}

@keyframes loading {
	0% {
		transform-origin: 0 0;
		transform: scaleX(0);
	}
	49.9% {
		transform-origin: 0 0;
	}
	50% {
		transform-origin: 100% 0;
		transform: scaleX(1);
	}
	99.9% {
		transform-origin: 100% 0;
	}
	100% {
		transform: scaleX(0);
	}
}

.mainNav.isLoading:before {
	animation: loading infinite 1s ease-in-out;
	opacity: 1;
}
