body[class*="medium-zoom--opened"] .root {
	opacity: 0;
}

body[class*="medium-zoom--opened"] .navContainer {
	pointer-events: none;
}

.root {
	--dot-radius: 7px;
	--dot-margin: 10px;

	position: fixed;
	top: 8px;
	left: 0;

	width: 100%;
	/* height: 100%; */
	z-index: 999;
	pointer-events: none;
	transition: opacity 0.1s ease-out;

	display: flex;
	justify-content: center;
}

.navContainer {
	width: calc(100% - 2rem);
	pointer-events: auto;

	opacity: 0;
	transition: opacity 0.1s ease-in;
}

@media screen and (min-width: 800px) {
	.navContainer {
		display: flex;
	}
}

.navContainer.inited {
	opacity: 1;
}

.draggable {
	margin-right: -1px;
	width: 52px;
	cursor: grab;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: #222c;
	backdrop-filter: blur(30px);
	border-top: 1px solid var(--subtler-border-color);
	border-left: 1px solid var(--subtler-border-color);

	border-bottom: 1px solid var(--subtler-border-color);
}

@media screen and (min-width: 800px) {
	.draggable {
		display: flex;
	}
}

.draggable:hover .dot,
.root.dragging .dot {
	background-color: var(--subtle-border-color);
}

.dotWrapper {
	display: flex;
	justify-content: space-between;
}

.dotColumn {
	width: var(--dot-radius);
}

.dotColumnLeft {
	margin-right: var(--dot-margin);
}

.dot {
	width: var(--dot-radius);
	height: var(--dot-radius);
	background-color: var(--subtler-border-color);
	border-radius: 50%;
	margin-bottom: var(--dot-margin);
	transition-property: background-color;
	transition-timing-function: ease-out;
}

.dot:last-of-type {
	margin-bottom: 0;
}

.root.dragging .draggable {
	pointer-events: none;
}
