.root {
	white-space: nowrap;
	overflow: auto;
	color: var(--foreground-secondary);
}

.navWrapper {
	/* padding: 0; */
}

.nav {
	padding: 0;
}

@media screen and (min-width: 800px) {
	.nav {
		padding: 0;
	}
}
