.root {
	height: 100%;
}

.input {
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	padding: 12px 40px 12px 16px;
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-size: 12px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23aaa' d='M6 9L1 4h10z'/%3E%3C/svg%3E") !important;
	color: inherit;
	border-right: 1px solid var(--subtler-border-color);
	cursor: pointer;
}

.input:not(.inputFocus):hover {
	color: white;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23fff' d='M6 9L1 4h10z'/%3E%3C/svg%3E") !important;
}

.inputFocus {
	background-color: var(--foreground);
	color: var(--background);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23333' d='M6 9L1 4h10z'/%3E%3C/svg%3E") !important;
	border-right: 1px solid var(--subtle-border-color-dark);
}
