.root {
	position: relative;
	height: 100%;
}

.root::after {
	content: "";
	position: absolute;
	top: 22px;
	right: 12px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid var(--foreground-secondary);
}

.root.noArrow {
	cursor: unset;
	background-image: none !important;
}

.root.inputFocus .input {
	color: var(--background);
	background-color: var(--foreground);
	border-right: 1px solid var(--subtle-border-color-dark);
}

.root.inputFocus::after {
	border-top-color: var(--background);
}

.root.nonInteractable .input {
	cursor: not-allowed;
}

.root:not(.inputFocus):not(.noArrow):not(.nonInteractable):hover .input {
	color: var(--foreground);
}

.root:not(.inputFocus):not(.noArrow):not(.nonInteractable):hover::after {
	border-top-color: var(--foreground);
}

.wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0 !important;
	font-size: 16px;
}

.filterGroupsWrapper {
	display: flex;
	overflow-x: auto;
	height: 100%;
}

@media screen and (min-width: 800px) {
	.filterGroupsWrapper {
		overflow-x: unset;
		flex: 1;
	}
}

.filterGroup {
	/* margin-right: 1rem; */
	flex: 1;
	height: 100%;
}

.filterGroup:last-of-type {
	margin-right: 0;
}

.yearFilterGroup {
	min-width: 132px;
}

.langFilterGroup {
	min-width: 160px;
}

.techFilterGroup {
	min-width: 180px;
}

.clearButton {
	height: 100%;
	padding: 0 1rem;
	border: none;
	background-color: transparent;
	color: var(--foreground-secondary);
	cursor: not-allowed;
	z-index: 1;

	box-shadow: 0px 0px 8px 2px #aaaa;
	white-space: nowrap;
	border-left: 1px solid var(--subtler-border-color);
}

@media (prefers-color-scheme: dark) {
	.clearButton {
		box-shadow: 0px 0px 8px 2px #111a;
	}
}

@media screen and (min-width: 660px) {
	.clearButton {
		box-shadow: none;
	}
}

@media screen and (min-width: 800px) {
	.clearButton {
		box-shadow: none;
		border-left: none;
	}
}

.clearButton.clearActive {
	background-color: var(--foreground);
	color: var(--background);
	cursor: pointer;
}

.input {
	display: flex;
	align-items: center;

	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	padding: 12px 40px 12px 16px;
	/* background-repeat: no-repeat;
	background-position: right 12px center;
	background-size: 12px; */
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23aaa' d='M6 9L1 4h10z'/%3E%3C/svg%3E") !important; */
	color: var(--foreground-secondary);
	border-right: 1px solid var(--subtler-border-color);
	cursor: pointer;
}
