.root {
	display: flex;
	padding: 0;
	font-size: 16px;
}

.filterGroup {
	/* margin-right: 1rem; */
	flex: 1;
	height: 100%;
}

.filterGroup:last-of-type {
	margin-right: 0;
}

.clearButton {
	height: 100%;
	padding: 0 1rem;
	border: none;
	background-color: transparent;
	color: var(--nav-secondary-color);
	cursor: pointer;
}
