.active {
	text-decoration: underline;
}

.navList {
	color: var(--foreground);
	padding: 0 1rem 0 0;
}

@media screen and (min-width: 800px) {
	.navList {
		padding: 0;
	}
}

.navList li:after {
	top: 3px;
}
