.root {
	display: flex;
}

.link {
	width: 50%;
	display: flex;
}

.linkLabel {
	white-space: nowrap;
	max-width: 70px;
	text-overflow: ellipsis;
	overflow: hidden;
}

@media screen and (min-width: 410px) {
	.linkLabel {
		max-width: 90px;
	}
}

@media screen and (min-width: 500px) {
	.linkLabel {
		max-width: 110px;
	}
}

@media screen and (min-width: 600px) {
	.linkLabel {
		max-width: 170px;
	}
}

@media screen and (min-width: 800px) {
	.linkLabel {
		max-width: unset;
		text-overflow: unset;
		overflow: unset;
	}
}

.link:first-of-type {
	border-right: 1px solid var(--subtler-border-color);
}

.link:last-of-type {
	justify-content: flex-end;
}

.arrow {
	transition: transform 0.1s ease-out;
}

.prevArrow {
	margin-right: 1rem;
}

.nextArrow {
	margin-left: 1rem;
}

.link:hover .prevArrow {
	transform: translateX(-1px);
}
.link:hover .nextArrow {
	transform: translateX(1px);
}
