.root {
	display: flex;
}

.subNavWrapper {
	flex: 1;
	text-align: center;
}

.backWrapper {
	margin: 0;
	border-right: 1px solid var(--subtler-border-color);
	color: var(--foreground-secondary);
}

.backWrapper:hover {
	color: var(--foreground);
}

.backWrapper a {
	margin: 0;
}
